* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #393e46;
  padding: 30px;
}

footer p {
  color: #eeeeee;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #eeeeee;
}
