* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #393e46;
  padding: 30px;
}

footer p {
  color: #eeeeee;
  text-align: center;
  font-size: 0.8em;
}

footer p a {
  text-decoration: none;
  color: #eeeeee;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer p {
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 992px) {
  footer p {
    font-size: 1em;
  }
}
