* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: gamer-font;
  src: url(./fonts/Gamer.ttf);
  /* font credits to dafont.com */
}

@font-face {
  font-family: arcade-font;
  src: url(./fonts/ka1.ttf);
  /* font credits to 1001freefonts.com vic frieger */
}

a:visited,
a:link,
a:active {
  color: white;
  text-decoration: none;
}

header {
  background-color: #393e46;
  box-shadow: 0px 5px 8px black;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
}

#logoContainer {
  margin-top: 10px;
  width: 30%;
  /* border: 1px solid black; */
}

#logoContainer h2 {
  color: #eeeeee;
  font-family: arcade-font;
  font-size: 2vh;
  padding: 10px;
}

#blue {
  color: rgb(80, 121, 211);
}
#yellow {
  color: rgb(196, 171, 33);
}
#red {
  color: rgb(185, 44, 44);
}

nav {
  background-color: #393e46;
  width: 100%;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  padding: 0 0 10px 0;
}

nav ul li {
  padding: 10px;
  width: 100%;
  color: #eeeeee;
}

nav ul li:hover {
  background-color: #141518;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
}

nav ul li button {
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: #393e46;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

nav ul li button:hover {
  color: firebrick;
}

.navToggleIcon {
  position: absolute;
  top: 25px;
  right: 0;
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.navToggleIcon span,
.navToggleIcon span::before,
.navToggleIcon span::after {
  display: block;
  background-color: white;
  height: 2px;
  width: 2.5em;
  position: relative;
}

.navToggleIcon span::before,
.navToggleIcon span::after {
  content: '';
  position: absolute;
}

.navToggleIcon span::before {
  bottom: 12px;
}

.navToggleIcon span::after {
  top: 12px;
}

.navToggle {
  display: none;
}

.navToggle:checked ~ nav {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navToggleIcon {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logoContainer {
    margin-left: 1em;
  }

  #logoContainer h2 {
    font-size: 2.2vh;
  }

  nav {
    background: transparent;
    position: static;
    display: block;
    width: 50%;
    margin-right: 1em;
  }

  nav ul {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li {
    text-align: center;
    padding: 0;
  }

  nav ul li a:hover {
    background-color: #141518;
    border-radius: 10px;
  }

  nav ul li:hover {
    background: none;
  }
}

@media only screen and (min-width: 992px) {
  .navToggleIcon {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logoContainer {
    margin-left: 1em;
  }

  #logoContainer h2 {
    font-size: 2.5vh;
  }

  nav {
    background: transparent;
    position: static;
    display: block;
    width: 50%;
    margin-right: 1em;
  }

  nav ul {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li {
    text-align: center;
    padding: 0;
  }

  nav ul li a:hover {
    background-color: #141518;
    border-radius: 10px;
  }

  nav ul li:hover {
    background: none;
  }
}
